# Discord botを起動するために使用するトークン
# これがないと起動できません。
TOKEN=
# Discord BotアプリケーションのClientID
# 現状必要ではないため設定しないほうがメモリを節約できます。
client_id=

# 権限の設定
# ,で区切ります スペースは使用しないでください。
# これらの権限を使用しない場合はdeveloperの部分に自分のusernameもしくはidを入力するだけでokです
# これらのオプションのデフォルト値: 0
# 信頼済み 一部のコマンドの使用権限を持ちます。
trusted=0
# モデレーター 現状効力がありません。
moderator=0
# 管理者 上位の特権を持ちます。 eval等は使用できません。
administrator=0
# 開発者 セルフホストの場合は必ず自分のアカウントのみを入力してください。
# evalやexec等のコマンドの実行権限を持ちます。
developer=0
# 応答を無視するユーザー
ignore=0

# 禁止ワードの設定
# 「メッセージを管理(MANAGE_MESSAGE)」の権限を持つサーバーにて禁止ワードを検知した場合に自動的に削除します。
# コンソール、logsフォルダにログが保管されます。Discordのチャンネルにログをする機能はありません。
# この機能を使用するのであれば、./src/utils/zatsu.ts.tempを./src/utils/zatsu.tsに名前変更してください。
# windows用コマンド: move src\utils\zatsu.ts.temp src\utils\zatsu.ts
# unix系用コマンド: mv ./src/utils/zatsu.ts.temp ./src/utils/zatsu.ts
# デフォルト: なし
banned_word=

# /gemini を使用する場合は設定してください。 設定されていない場合は /gemini は正常に動作しません。
gemini_token=
gemini_system_instruction=
gsi2=ユーザーが入力したプロンプトをユーザーに変わって言い換えて代弁してください。

# osu関連のコマンドを使用する場合は設定してください。設定されていない場合はosu関連のコマンドは正常に動作しません。
osu_api_key=
